<?xml version="1.0"?>
<launch>

  <arg name="robot_name" default="scan_pro_robot" />
  <param name="robot_description" textfile="$(find planning_prm)/urdf/scan_pro_robot.urdf.xacro" />

  
  
  <!-- these are the arguments you can pass this launch file, for example paused:=true
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/> -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find planning_prm)/world/scan_pro.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include> -->

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model scan_pro_robot" />
  <rosparam command="load" file="$(find planning_prm)/config/arm_control.yaml" />

  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen" ns="/$(arg robot_name)"/>
  <rosparam command="load" file="$(find planning_prm)/config/joint_state_controller.yaml" />

  <!-- <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"  ns="/$(arg robot_name)"/> -->
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/$(arg robot_name)/joint_states"/>
  </node>

</launch>
